@charset "utf-8";
@import url("reset.css");
main {
     width: 100%;
     height: 100%;
     text-align: center;
     position: relative;
     z-index: -5;
}

.main_img img {
     width: 100%;
     display: block;
}

/* main end */

article {
     background-color: #111;
}

.lyric_wrap {
     margin: 0 auto;
     width: 1200px;
     height: 100%;
     padding-bottom: 150px;
}

.ly_inner > div {
     display: inline-block;
     margin: 0 auto;
}
.ly_inner{
     display: flex;
}



/* 이하 영상 */
.yt {
     text-align: center;
     padding: 20px 0;
     width: 100%;
}
.yt div iframe{
     box-sizing: border-box;
     position: fixed;
     bottom: 0;
     left: 0;
}

/* 이하 가사 */
p {
     font-family: 'Nanum Myeongjo', serif;
     white-space: pre-line;
     color: white;
     height: 100%;
     display: inline-block;
     font-size: 1.6rem;
     line-height: 3.5rem;
     letter-spacing: -0.03rem;
}

span.title {
     font-weight: 800;
     font-size: 2.5rem;
     display: block;
}

span.small {
     font-size: 1.5rem;
     font-weight: 500;
}

span.info{
     font-size: 1.3rem;
     font-weight: 500;
     line-height: 2.5rem;
     padding-top: 100px;
     display: block;
}
span.info::before{
     content: '';
     display: block;
     height: 1px;
     box-sizing: border-box;
     width: 60%;
     margin-bottom: 15px;
     background-color: rgb(255, 255, 255);
}