@charset "utf-8";

/* 이하 부분은 각 가사 메인에도 common_lyrics로 만들어서
들어가게 됨. 왜냐면 헤더에 로고만! 가사별로 만들어진
이미지 위로 올라가야 되서 로고에만 class넣어둿기 때문에 로고만
z-index값 높혀서 올림 */

/* 중간로고 위로 올라오게 */
.centerlogo{
     position: relative;
     z-index: 5;
}

main{
     background-color: #000;
     width: 100%;
     height: 100%;
     text-align: center;
     position: relative;
     display: block;
     z-index:0;
}

.main_img img{
     margin: 0 auto;
     display: block;
     width: 100%;
}


/* 이하 필터 */
.main_img > a{
     position: relative;
     z-index: 8;
}
.main_img > a::before{
     content: '';
     width:100%;
     height: 100%;
     background-color:rgba(0, 0, 0, 0.5);
     position: absolute;
     left: 0;
     transition: ease-in-out 0.2s;
}
.main_img > a:hover::before{
     content: '';
     width:100%;
     height: 100%;
     background-color:rgba(0, 0, 0, 0);
     position: absolute;
     left: 0;
     transition: ease-in-out 0.2s;
}

/* main end */


